*{
    margin: 0;
}
header{
    text-align: center;
    background-color: #EDE8DC;
    padding: 20px;  
}

header > h1, h3, input{
    margin-bottom: 10px;
}

header input {
    width: 300px;
    height: 25px;
    border-radius: 3px;
    border: none;
}

.first-section{
    padding: 20px;
}

.first-section li {
    list-style: none;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.delete-btn{
    margin-right: 90px;
    background-color: #8967B3;
    color: white;
    width: 50px;
    text-align: center;
    border-radius: 3px;
}

#second-section{
    text-align: center;
}

#second-section input[type="text"]{
    width: 300px;
    height: 25px;
}

#second-section .add-btn{
    background-color: #8967B3;
    color: white;
    width: 50px;
    height: 30px;
    border: none;
}

#tabbed-content li{
    display: inline-block;
    padding: 10px 14px;
    background: #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#tabbed-content .panel{
    display: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 4px;
}

#tabbed-content .panel.active{
    display: block;
}



